.main-container{
    /* text-align: center */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-top: 1%;
    /* width: 50%; */
}

.form-container{
    /* display: grid;
    place-items: center; */
    width: 50%;
}

.form-field{
    display: block;
    /* width: 50%; */
}